@font-face {
    font-family: "headerFont";
    src: url("../fonts/Lato2OFL/Lato-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: "textFont";
    src: url("../fonts/Lato2OFL/Lato-Semibold.ttf");
}

@font-face {
    font-family: "capFont";
    src: url("../fonts/Lato2OFL/Lato-Bold.ttf");
}

:root {
    --image: url("../images/top_back.png");
}

$font-main: "headerFont",
sans-serif;
$font-add: "textFont",
sans-serif;
$font-cap: "capFont",
sans-serif;

body {
    box-sizing: border-box;
    background: linear-gradient(to bottom, black, white, black);

    h2 {
        margin-bottom: 2px;
    }

    ul {
        list-style: none;
    }

    hr.red {
        max-width: 8%;
        margin: 0 auto;
        margin-bottom: 2%;
        border-top: 2px solid red;
    }

    .right>* {
        margin: 2% 0;
    }

    hr.inside {
        max-width: 40%;
        border-top: 2px solid;
    }
}

.top {
    display: none;
}

nav {
    background: linear-gradient(to right, lightyellow, white);

    .container-fluid {
        padding: 0 7%;
    }

    .nav-link:hover {
        color: black;
        border: 2px solid orangered;
        border-radius: 5px;
    }
}

.content {
    background: url("../images/back.jpg") center no-repeat;
    background-size: cover;
    padding: auto 5%;

    >* {
        margin-inline-start: 10%;
    }

    >p {
        font-family: $font-cap;
        font-size: 2rem;
        font-style: oblique;
        color: white;
        max-width: 50%;
        -webkit-text-stroke: 1px black;
    }

    h1 {
        font-family: $font-main;
        word-wrap: break-word;
        background: url("../images/text_back1.jpg");
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: top;
        font-style: italic;
        font-size: 3.5rem;
        max-width: 70%;
        -webkit-text-stroke: 1px black;
    }

    .card {
        background: transparent;
        max-width: 70%;
        box-shadow: 1px 1px 1px 1px;
        color: white;
        text-shadow: -1px 1px 0 black, -1px -1px 0 black;
        font-family: $font-add;

        @media (min-width: 1000px) {
            max-width: 45%;
        }
    }

    @media (max-width: 769px) {
        >p {
            font-size: 1.85rem;
            padding-top: 0;
            max-width: 75%;
        }

        h1 {
            font-size: 2.85rem;
            max-width: 75%;
        }

        .card {
            max-width: 75%;
            font-size: 0.9rem;
        }
    }

    @media (max-width: 550px) {
        >p {
            font-size: 1.7rem;
            max-width: 80%;
            padding-top: 0;
        }

        h1 {
            font-size: 2.7rem;
            max-width: 80%;
        }

        .card {
            max-width: 80%;
            font-size: 0.8rem;
        }
    }

    @media (max-width: 520px) {
        >* {
            margin-inline-start: 2%;
        }

        >p {
            font-size: 1.3rem;
            max-width: 95%;
            padding-top: 0;
        }

        h1 {
            font-size: 2.3rem;
            max-width: 95%;
        }

        .card {
            max-width: 95%;
            font-size: 0.8rem;
        }
    }
}

#programs {
    background: url("../images/back2.jpg");
    background-size: cover;
    background-position: left;
    padding: 2%;
    max-width: 95%;
    margin: 0 auto;
    word-wrap: break-word;

    .container>div {
        word-wrap: break-word;
        font-family: $font-add;

        hr {
            margin: 2% 0;
        }
    }

    h2 {
        color: black;
        -webkit-text-stroke: 1px white;
    }

    .border {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 2px yellowgreen;
        border-radius: 10px;
        padding: 5%;
        min-height: 350px;

        @media (max-width: 575px) {
            min-height: auto;
        }

        .img-fluid {
            padding: 2%;
            border-radius: 5px;
        }

        h3 {
            font-family: $font-add;
            font-size: 1.5rem;
        }

        @media (max-width: 575px) {
            flex-direction: row;
            align-items: flex-start;

            .img-fluid {
                max-width: 50%;
            }
        }
    }

    h2 {
        font-family: $font-cap;
    }
}

#performers {
    background: url("../images/back1.jpg") center;
    background-size: cover;
    max-width: 95%;
    margin: 0 auto;

    h2 {
        color: black;
        -webkit-text-stroke: 1px white;
    }

    .perf_item {
        border: 1px solid white;
        box-shadow: 5px 5px 5px 5px black;
        background: white;
        color: black;
        border-radius: 10px;
    }

    .item {
        word-wrap: break-word;
    }

    .card-title {
        font-family: $font-add;
    }
}

#sponsors {
    background: linear-gradient(to left, rgb(142, 224, 245), white);
    font-family: $font-main;
    padding: 2%;

    h2 {
        font-size: 2rem;
        text-transform: uppercase;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;

        .thumbnail {
            height: 100px;
            width: 100px;

            .img-fluid {
                border-radius: 10%;
            }
        }
    }
}

footer {
    background: linear-gradient(to right, rgb(142, 224, 245), white);

    div {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        li {
            font-family: $font-cap;

            h2 {
                font-size: 1.5rem;
            }

            p {
                font-family: $font-add;
                color: gray;
            }
        }

        @media (max-width: 500px) {
            flex-wrap: wrap;
            justify-content: flex-start;

            ul {
                padding-inline-start: 0;
            }
        }
    }
}

//js effects
.active .navbar-toggler-icon {
    background-image: url("../images/Enabled-close.png");
    background-size: contain;
}

.show {
    text-align: center;
}

@media (min-width: 768px) {
    .top {
        display: flex;
        justify-content: end;
        width: 100%;
        padding-bottom: 1px;
        padding-inline-end: 12%;
        height: 5vh;
        background: linear-gradient(to right, black, gray);

        ul {
            display: flex;
            justify-content: end;
            min-width: 70%;
            gap: 3%;
            list-style: none;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}